@mixin boxSizing($borderBox) {
    -webkit-box-sizing: $borderBox;
    -moz-box-sizing: $borderBox;
    -o-box-sizing: $borderBox;
    box-sizing: $borderBox;
}

body{
    margin: 0;
    padding: 0;
    width: percentage(1);
    height: 100vh;
    overflow-y: hidden;
}

*{
    @include boxSizing(border-box);
}

.container{
    position: absolute;
    top: percentage(.5);
    left: percentage(.5);
    transform: translate(-50%, -50%);
    width: 500px;
    height: auto;
    background: #fff;
    border-radius: 5px;
    display: block;

    .box{
        margin: 20px;   
        padding: 20px;

         *{
            float: left;
            margin: 0 3px;
            padding: 0;
            font-size: 1.2em;
        }

        p{
            animation: name .35s linear;
            
        }

    }

    .name{
        margin: 15px 0;
        width: 100%;
        padding: 5px 0;
        transition: .5s ease-in;
        animation: name .35s linear;

        p{
            float: right;
            font-size: 16px;
            opacity: .7;
        }
    }

    .btnDiv{
        display: flex;
        height: 50px;
        margin: 20px 0;  

        li{
            list-style: none;
            border-radius: 2px;
            padding: 10px;
            color: #fff;
            cursor: pointer;

            &.social{
                padding: 10px;
                border-radius: 3px;
                width: 50px;
                height: 50px;
                display: inline-block;
            }

            &#btn{
                margin-left: 178px; 
                padding: 10px;
                border-radius: 3px;
                font-size: 20px;

                
            }

            &:hover{
                opacity: .75;
            }

        }
    }
}

#designedBy{
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

@keyframes name {
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
}


@media(max-width: 568px) {
    .container{
        width: 80%;
    }

    .container .btnDiv li#btn {
        margin-left: 26px;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
    }
}